body, html {
    margin: 0;
    padding: 0;
    font-family: 'Inter' sans-serif;
    font-weight: 400;
    background-color: #F6F6F6;
}
*{
    margin: 0;
    padding: 0;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1{
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    color: #000301;
}
#greeting{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.logo-container{
    height: 39px;
}
#login-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1104px;
}
hr{
    width: 479px;
    padding: 0;
    margin: 0;
	border: none;
	border-top: 1px solid #D4D4D4;
}
h2{
    color: #878787;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
input{
    width: 390px;
    height: 65px;
    padding: 0 30px;
    gap: 10px;
    color:#000301;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    background-color: transparent;
    border: none;
    outline:none;
}
.form-group{
    position: relative;
    transition: 0.3s;
    position: relative;
    display: flex;
    align-items: center;
}
.form-label{
    position: absolute;
    height: 23px;
    left: 30px;
    z-index: -1;    
    color:#878787;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.3s;
}
.form-input{
    border-radius: 16px;
    border: 1px solid #D4D4D4;
    transition: 0.3s;
}
.form-input:hover,
.form-input:focus,
#toggle-button:hover ~ .form-input{
    border-color: #00AD3A;
}
.form-input:hover ~ .form-label,
.form-input:focus ~ .form-label,
#toggle-button:hover ~ .form-label,
.form-input:not(:placeholder-shown) ~ .form-label{
    opacity: 0;
}
.form-input:hover ~ .label-hover,
#toggle-button:hover ~ .label-hover,
.form-input:focus ~ .label-hover{
    opacity: 1;
}
.label-hover{
    opacity: 0;
    color: #00AD3A;
    background-color: #F6F6F6;
    padding: 0 15px;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: absolute;
    left: 46px;
    top: -15px;
    transition: 0.3s;
}
button{
    display: flex;
    width: 450px;
    height: 60px;
    justify-content: center;
    align-items: center;
    color: #F6F6F6;
    text-align: center;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #00AD3A;
    border-radius: 16px;
    border: none;
    transition: 0.3s;
}
button:hover{
    background-color: #37AD5F;
}
#toggle-button{
    background-color: transparent;
    padding: 0;
    width: 19px;
    height: 16px;
    position: absolute;
    right: 30px;
}
.error{
    color: #000301;
    font-family: 'Inter';
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 18px 21px;
    border-radius: 16px;
    border: 1px solid #C90000;
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.10);
}
.button_cantainer{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    left: calc(50% - 225px);
}
